<h1>Inventory#by_category</h1>
<!-- <p>Find me in app/views/inventory/by_category.html.erb</p> -->

<% @products.group_by(&:category).each do |cat, products| %>
  <div id = "category">
    <h2><%= cat %></h2>
    <ul>
      <% @products.each do print cat %>
    </ul>
  </div>
