<h1>Welcome#Store</h1>
<p>Find me in app/views/welcome/Store.html.erb</p>

The following pets are looking for a home: <br>
<table>
  <thead>
    <th>Name</th>
    <th>Breed</th>
    <th>Photo</th>
  </thead>
  <tr>
    <td> Milo </td>
    <td> Golden Retriever </td>
    <td> <%=image_tag("milo.jpg", size: "250")%></td>
  </tr>
  <tr>
    <td> George </td>
    <td> Poodle </td>
    <td> <%=image_tag("milo.jpg", size: "250")%></td>
  </tr>
</table>

<br>

We are proud to offer the following products in our store.<br>
<table>
</table>
