<h1>Welcome#contact</h1>
<p>Find me in app/views/welcome/contact.html.erb</p>

<form>

  Looking to reach out? <br> <br>

  My name is <input type=textarea name='firstname'> and I am interested in learning more about <input type=textarea name='interest'>. <br>

  <input type=submit value="Submit">

</form>
